.mainNav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0 0.2rem 0;
  border-bottom: 1px solid #d3d3d3;
}

.mainNavContainer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainNavLogo img {
  width: 8rem;
}

.mainNavMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainNavMenu a {
  text-decoration: none;
  padding: 0 0.5rem 0 0.5rem;
  color: var(--mainText1);
}

.mainNavMenu a:hover {
  color: var(--mainBlack1);
  transition: 0.2s;
}

/* media queries */
@media (max-width: 480px) {
  .mainNavLogo img {
    width: 50%;
  }
}
